* {
    padding: 0;
    margin: 0;
    max-width: 350px;
}

ul, ol {
    list-style:  none;
}
.image__box img {
    
    width: 250px; 
    height: 100px;
}
.container {
    margin-left: 20px 0;
    max-width: 20px 0;
}

p {
    padding: 10px;
    margin: 10;
    
}
.text {
    text-align: center;
}

.tasks {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    box-shadow: 20px;
    
}

.item {
text-align: center;
}
.table, td {
margin-left: 20px;
margin-right: 20px;
padding: 20px;

}
.Picture {
    width: 30px;
    height: 30px;
}

td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 20px;   
}

.posts__item {
    padding: 21px;
    margin: 10px;
    background-color: 15px solid white;
    border: 1px solid black ;
    border-radius: 20px;
    color: black;
    text-align: center
}




